* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;


}

body {
    display: block;
    margin-left: 0 auto;
    width: 100vw;
    height: 100vh;

}

html {
    display: block;
    width: 100vw;
    height: 100vw;

}

header {
    width: 100vw;
}

.container {
    width: 100%;
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid black;

}

.container>.logoanimaA3logounp>.logoAnima,
.container>.a3>.logo2 img {
    width: 100%;
    align-items: center;

}

.container>.logoanimaA3logounp>div img,
img#logo2 {
    max-width: 15vw;
    max-height: 100%;
}

.a3 p {
    font-size: 2vw;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: -12px;

}

.a3 {
    display: flex;
    font-size: 7vw;
    width: 11%;
    align-items: center;
    text-align: center;

}

.tilofinal {
    width: 100%;
    text-align: center;
    background-color: antiquewhite;
    font-size: 3.5vw;
}


div>.uc {
    width: 100%;
    text-align: center;
    background-color: blueviolet;
    font-weight: bolder;
    color: white;
}



.integrantes {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    /* flex-direction: column; */
    justify-content: space-between;
    text-align: center;
    color: white;
    font-weight: bolder;
    /* height: 193px; */
    border-bottom: 5px solid black;
    background-color: rgb(6, 138, 28);

}

.alunos {
    width: 100vw;
    display: grid;
    grid-auto-flow: dense;
    align-items: start;
    text-align: center;

}

#nomealunos {
    grid-area: 1 / 1 / span 1 / span 2 ;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    letter-spacing: 1em;
    font-size: 4vw;
    background: linear-gradient(to bottom, blueviolet, transparent);
}

.integrantes #nome {
    width: 100%;
    color: white;
    font-size: 1.5vw;
    border: 1px solid black;

}
p#nome{
    margin-bottom: 2px;
}

.config {

    border: 1px solid black;
    width: 20vw;
    height: auto;
    

}

/* .container>.logoanimaA3logounp>.logoAnima,
.container>.a3>.logo2 img */
.integrantes>.alunos>.config img {
    width: 100%;
    /* height: 18vh; */

}


/* .jonhvictor {

    width: 150px;
    height: 90%;
    background-image: url(imagens/jonhvictor.jpeg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6px;
    margin-left: 6px;
    border-radius: 20px;
} */

/* .michell {

    width: 150px;
    height: 90%;
    background-image: url(imagens/Lexlutor.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6px;
    margin-left: 6px;
    border-radius: 20px;
} */

/* .edyene {

    width: 160px;
    height: 90%;
    background-image: url(imagens/edyene2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6px;
    border-radius: 20px;
    font-size: 14px;

}

.Wanfranklin {

    width: 160px;
    height: 90%;
    background-image: url(imagens/Wanfranklin.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6px;
    border-radius: 20px;
    font-size: 14px;

} */

.entrada {
    background-image: url(imagens/codigo2.png);
    background-position: top center;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-style: italic;


}

.entrada h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    background: linear-gradient(to top, #000, transparent);


}

.entrada h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    background: linear-gradient(to top, #000, transparent);

}

.entrada p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to top, #000, transparent);
}

.produtos {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #89ac0e;
    border-top: 5px solid black;
}

.prudutos-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 20px;
    text-align: center;
}